<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WeatherLogger</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/components/css/materialize.min.css">
    <link rel="stylesheet" href="assets/components/css/angular-pickadate.css">
    <link rel="stylesheet" href="app/css/main.css">
    <link rel="stylesheet" href="app/css/input-colors.css">
    <link rel="stylesheet" href="app/css/preloader.css">
    <script type="text/javascript" src="assets/components/js/angular.min.js"></script>
    <script type="text/javascript" src="app/js/angular-main.js"></script>
    <script type="text/javascript" src="assets/components/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="assets/components/js/Chart.min.js"></script>
    <script type="text/javascript" src="app/js/services/weather-service.js"></script>
    <script type="text/javascript" src="app/js/services/line-chart-service.js"></script>
    <script type="text/javascript" src="app/js/controllers/weather-controller.js"></script>
    <script type="text/javascript" src="assets/components/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/components/js/materialize.min.js"></script>
    <script type="text/javascript" src="app/js/tabs.js"></script>
    <script type="text/javascript" src="assets/components/js/angular-pickadate.min.js"></script>
  </head>

  <body ng-app="weatherLogger" ng-controller="weatherController">

    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3">
            <a class="grey-text tab" data-color="grey" href="#general">
              General
            </a>
          </li>

          <li class="tab col s3">
            <a class="orange-text tab" data-color="orange" href="#temperature">
              Temperature
            </a>
          </li>

          <li class="tab col s3">
            <a class="blue-text tab" data-color="blue" href="#humidity">
              Humidity
            </a>
          </li>

          <li class="tab col s3">
            <a class="green-text tab" data-color="green" href="#dew_point">
              Dew point
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- GENERAL TAB CONTENT -->
    <div id="general">
      <div class="row">

        <!-- GENERAL SPINNER -->
        <div class="preloader-wrapper active" ng-if="loading">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

        <div ng-hide="loading" class="col s12 m6 offset-m3">
          <div class="card-panel grey lighten-4 clearfix generalCard">
            <span class="black-text">
              <div class="row">
                <h4 class="left">Conditions now</h4>
                <a ng-click="updateGeneralData()" class="refresh btn-floating btn-small waves-effect
                                                        waves-light grey lighten-1 right">
                  <i class="material-icons">refresh</i>
                </a>
              </div>

              <div class="row" ng-show="!loading">
                <span class="col m4 s12 orange-text lighten-1">
                  <span>Temperature</span>
                  <h4>{{data.temperature}} Cº</h4>
                </span>

                <span class="col m4 s12 blue-text lighten-1">
                  <span>Humidity</span>
                  <h4>{{data.relativeHumidity}} %</h4>
                </span>

                <span class="col m4 s12 green-text lighten-1">
                  <span>Dew point</span>
                  <h4>{{data.dewPoint}} Cº</h4>
                </span>

                <span>Updated {{lastUpdate}}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- TEMPERATURE TAB CONTENT -->
    <div id="temperature">

      <!-- TEMPERATURE CHART SPINNER -->
      <div class="preloader-wrapper active" ng-if="loading">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <div class="row" ng-hide="loading">

        <h5 class="center-align">{{ tempChartDay }}</h5>

        <!-- TEMPERATURE CHART FORM ON DESKTOP -->
        <form class="col s5 offset-s1 hide-on-med-and-down">
          <div class="row">
            <div class="input-field">
              <div pickadate format="yyyy-mm-dd"
                    ng-model="tempDate"  ng-change="drawTemperatureChart()" max-date="maxDate"></div>
            </div>
          </div>
        </form>

        <!-- TEMPERATURE CHART FORM ON MOBILE -->
        <form class="col s12 hide-on-large-only">
          <div class="row">
            <div class="input-field col s8 m2 offset-m5 offset-s2">
              <input id="temperatureChartDate" type="date" ng-model="tempDate"
                      ng-change="drawDewPointChart()" class="datepicker" required="true"/>
            </div>

            <a ng-click="drawDewPointChart()" class="refresh btn-floating btn-small waves-effect
                                                      waves-light grey lighten-1 right">
              <i class="material-icons">refresh</i>
            </a>
          </div>
        </form>

        <div ng-hide="loading" class="col s5 hide-on-small-only">
          <div class="card-panel grey lighten-4 clearfix generalCard">
            <span class="black-text" ng-show="!loading && !empty">
              <div class="row">
                <span class="col m4 s12 red-text center-align lighten-1">
                  <span>Maximum</span>
                  <h4>{{maximumTemperature}} Cº</h4>
                </span>

                <span class="col m4 s12 blue-text center-align lighten-1">
                  <span>Minimum</span>
                  <h4>{{minimumTemperature}} Cº</h4>
                </span>

                <span class="col m4 s12 green-text center-align lighten-1">
                  <span>Average</span>
                  <h4>{{averageTemperature | number: 2}} Cº</h4>
                </span>
              </div>
            </span>

            <span class="center-align" ng-show="empty">
              There's no data to show
            </span>
          </div>
        </div>
      </div>

      <canvas id="tempChart" ng-show="!loading && !empty" height="100"></canvas>

      <div class="center-align" ng-if="!loading && empty">
        <p class="text-grey lighten-1">There is no data to draw a chart</p>
      </div>

    </div>

    <!-- HUMIDITY TAB CONTENT -->
    <div id="humidity">

      <!-- HUMIDITY CHART SPINNER -->
      <div class="preloader-wrapper active" ng-if="loading">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <div class="row" ng-show="!loading && !empty">

        <h5 class="center-align">{{ humidityChartDay }}</h5>

        <!-- HUMIDITY CHART FORM ON DESKTOP -->
        <form class="col s5 offset-s1 hide-on-med-and-down">
          <div class="row">
            <div class="input-field">
              <div pickadate format="yyyy-mm-dd"
                    ng-model="humidityDate" ng-change="drawHumidityChart()" max-date="maxDate"></div>
            </div>
          </div>
        </form>

        <!-- HUMIDITY CHART FORM ON MOBILE -->
        <form class="col s12 hide-on-large-only">
          <div class="row">
            <div class="input-field col s8 m2 offset-m5 offset-s2">
              <input id="humidityChartDate" type="date" ng-model="humidityDate"
                      ng-change="drawHumidityChart()" class="datepicker" required="true"/>
            </div>

            <a ng-click="drawHumidityChart()" class="refresh btn-floating btn-small waves-effect
                                                      waves-light grey lighten-1 right">
              <i class="material-icons">refresh</i>
            </a>
          </div>
        </form>

        <div ng-hide="loading" class="col s5 hide-on-small-only">
          <div class="card-panel grey lighten-4 clearfix generalCard">
            <span class="black-text">
              <div class="row" ng-show="!loading">
                <span class="col m4 s12 red-text center-align lighten-1">
                  <span>Maximum</span>
                  <h4>{{maximumHumidity}} %</h4>
                </span>

                <span class="col m4 s12 blue-text center-align lighten-1">
                  <span>Minimum</span>
                  <h4>{{minimumHumidity}} %</h4>
                </span>

                <span class="col m4 s12 green-text center-align lighten-1">
                  <span>Average</span>
                  <h4>{{averageHumidity | number: 2}} %</h4>
                </span>
              </div>
            </span>
          </div>
        </div>
      </div>

      <canvas id="humidityChart" ng-show="!loading && !empty" height="100"></canvas>

      <div class="center-align" ng-if="!loading && empty">
        <p class="text-grey lighten-1">There is no data to draw a chart</p>
      </div>
    </div>

    <!-- DEW POINT TAB CONTENT -->
    <div id="dew_point">

      <div class="preloader-wrapper active" ng-if="loading">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <div class="row" ng-show="!loading && !empty">

        <h5 class="center-align">{{ dewPointChartDay }}</h5>

        <form class="col s5 offset-s1 hide-on-med-and-down">
          <div class="row">
            <div class="input-field">
              <div pickadate format="yyyy-mm-dd"
                    ng-model="dewPointDate" ng-change="drawDewPointChart()" max-date="maxDate"></div>
            </div>
          </div>
        </form>

        <form class="col s12 hide-on-large-only">
          <div class="row">
            <div class="input-field col s8 m2 offset-m5 offset-s2">
              <input id="dewPointChartDate" type="date" ng-model="dewPointDate"
                      ng-change="drawDewPointChart()" class="datepicker" required="true"/>
            </div>

            <a ng-click="drawHumidityChart()" class="refresh btn-floating btn-small waves-effect
                                                      waves-light grey lighten-1 right">
              <i class="material-icons">refresh</i>
            </a>
          </div>
        </form>

        <div ng-hide="loading" class="col s5 hide-on-small-only">
          <div class="card-panel grey lighten-4 clearfix generalCard">
            <span class="black-text">
              <div class="row" ng-show="!loading">
                <span class="col m4 s12 red-text center-align lighten-1">
                  <span>Maximum</span>
                  <h4>{{maximumDewPoint}} Cº</h4>
                </span>

                <span class="col m4 s12 blue-text center-align lighten-1">
                  <span>Minimum</span>
                  <h4>{{minimumDewPoint}} Cº</h4>
                </span>

                <span class="col m4 s12 green-text center-align lighten-1">
                  <span>Average</span>
                  <h4>{{averageDewPoint | number: 2}} Cº</h4>
                </span>
              </div>
            </span>
          </div>
        </div>

        <canvas id="dewPointChart" ng-show="!loading && !empty" height="100"></canvas>

        <div class="center-align" ng-if="!loading && empty">
          <p class="text-grey lighten-1">There is no data to draw a chart</p>
        </div>
      </div>
    </div>

  </body>

</html>
