<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WeatherLogger</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/components/css/materialize.min.css">
    <link rel="stylesheet" href="app/css/input-colors.css">
    <link rel="stylesheet" href="app/css/preloader.css">
    <link rel="stylesheet" href="app/css/tabs.css">
    <script type="text/javascript" src="assets/components/js/angular.min.js"></script>
    <script type="text/javascript" src="app/js/angular-main.js"></script>
    <script type="text/javascript" src="assets/components/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="assets/components/js/Chart.min.js"></script>
    <script type="text/javascript" src="app/js/services/weather-service.js"></script>
    <script type="text/javascript" src="app/js/services/temperature-chart-service.js"></script>
    <script type="text/javascript" src="app/js/controllers/temperature-chart-controller.js"></script>
    <script type="text/javascript" src="assets/components/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/components/js/materialize.min.js"></script>
  </head>

  <body ng-app="weatherLogger">

    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3"><a class="active blue-text" href="#temperature">Temperature</a></li>
          <li class="tab col s3"><a class="blue-text" href="#humidity">Humidity</a></li>
          <li class="tab col s3"><a class="blue-text" href="#dew_point">Dew point</a></li>
        </ul>
      </div>
    </div>

    <div id="temperature" ng-controller="temperatureChartController">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s8 m2 offset-m5">
              <input id="tempChartDate" type="date" ng-model="date"
                      ng-change="drawChart()" required="true"/>
            </div>
          </div>
        </form>
      </div>

      <div class="preloader-wrapper active" ng-if="loading">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <canvas id="tempChart" height="100" ng-show="!loading"></canvas>

    </div>

    <div id="humidity">

    </div>

    <div id="dew_point">

    </div>

  </body>

</html>
